//out: styles.css, compress: true, sourcemap: false

@bgColor: #6643b5;
@buttonBgColor: #c84361;
@fullWidth: 100%;
@fullHeight: 100%;
@pageWidth: 100vw;
@pageHeight: 100vh;
@formHeight: 160px;
@formWidth: 450px;
@paddingHeight: 40px;
@font: 'Montserrat';
@fontColor: white;

body {padding: 0; margin: 0; font-family: @font; color: @fontColor;}

.app {
  background-color: @bgColor;
  width: @pageWidth;
  height: @pageHeight;
  .form-divider {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0; right: 0; bottom: 0; top: 0;
    border-radius: 50%;
    color: white;
    background-color: @bgColor;
    z-index: 3;
    margin: auto;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,1);
    p {
      text-align: center;
      line-height: 50px;
      margin: auto;
    }
  }
  .form-container {
    width: @formWidth;
    height: @formHeight;
    position: absolute;
    padding: 0 @paddingHeight;
    box-sizing: border-box;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    input, button {
      border: none;
      width: @fullWidth;
      padding: 0;      
      box-sizing: border-box;
      height: @paddingHeight;
      font-size: 1em;
      &:focus {outline:none;}
    }

    label {
      position: absolute;
      line-height: @paddingHeight;
      text-align: center;
      font-size: 1.3em;
      left: 0; right: 0;
      margin: auto;
    }

    input {
      padding: 5px;
      text-align: center;
      margin-top: @paddingHeight;
      background-color: #c84361;
      background-color: @bgColor;
      border-bottom: 1px solid white;
      color: @fontColor;
      margin-bottom: 20px;

      &::placeholder {color: @fontColor; opacity: 1;}
      &:-ms-input-placeholder {color: @fontColor;}
      &::-ms-input-placeholder {color: @fontColor;}
    }

    button {
      color: @fontColor;
      background-color: @buttonBgColor;
      cursor: pointer;
    }

    &.enter-room {
      right: @formWidth;
      box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.5);
    } 

    &.create-room {
      left: @formWidth;
      box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.5);
    }
  }
}

@media (max-width: 950px) {
  @formWidth: 350px;
  .app {
    .form-container {
      width: @formWidth;
      &.enter-room {right: @formWidth;} 
      &.create-room {left: @formWidth;}
    }
  }
}

@media (max-width: 750px) {
  @formHeight: 160px;
  // @formHeight: 120px;
  // @formWidth: 350px;
  @formWidth: 100%;
  // @paddingHeight: 40px;
  @paddingHeight: 30px;
  .app {
    // background-color: @bgColor;
    // width: @pageWidth;
    // height: @pageHeight;
    .form-divider {
      // position: absolute;
      // height: 50px;
      // width: 50px;
      // left: 0; right: 0; bottom: 0; top: 0;
      // border-radius: 50%;
      // color: white;
      // background-color: @bgColor;
      // z-index: 3;
      // margin: auto;
      // box-shadow: inset 0px 0px 5px rgba(0,0,0,1);
      p {
        // text-align: center;
        // line-height: 50px;
        // margin: auto;
      }
    }
    .form-container {
      width: @formWidth;
      // height: @formHeight;
      // position: absolute;

      padding: @paddingHeight;
      
      // left: 0; right: 0;
      // top: 0; bottom: 0;
      // margin: auto;
      input, button {
        // width: @fullWidth;
        // padding: 0;      
        // box-sizing: border-box;
        height: @paddingHeight;
        // font-size: 1em;
      }
  
      label {
        // position: absolute;
        line-height: @paddingHeight;
        // text-align: center;
        font-size: 1.1em;
        // left: 0; right: 0;
        // margin: auto;
      }
  
      input {
        // padding: 5px;
        margin-top: @paddingHeight;
        // border-bottom: 1px solid white;
        // margin-bottom: 20px;
      }
  
      &.enter-room {
        // right: @formWidth;
        right: unset;
        bottom: @formHeight;
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
      } 
  
      &.create-room {
        // left: @formWidth;
        left: unset;
        top: @formHeight;
        box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.5);
      }
    }
  }
}