//out: styles.css, compress: true, sourcemap: false

@bgColor: #6643b5;
@fullWidth: 100%;
@fullHeight: 100%;
@pageWidth: 100vw;
@pageHeight: 100vh;
@formHeight: 160px;
@formWidth: 400px;
@paddingHeight: 40px;

body {padding: 0; margin: 0;}

.app {
  background-color: @bgColor;
  width: @pageWidth;
  height: @pageHeight;
  .form-container {
    width: @formWidth;
    height: @formHeight;
    // background-color: red;
    position: absolute;
    padding: 0 @paddingHeight;
    box-sizing: border-box;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    input, button {
      border: none;
      width: @fullWidth;
      padding: 0;      
      box-sizing: border-box;
      height: @paddingHeight;
    }
    label {
      position: absolute;
      line-height: 40px;
      color: white;
      text-align: center;
      font-size: 1.3em;
      left: 0; right: 0;
      margin: auto;
    }
    input {
      padding: 5px;
      text-align: center;
      margin-top: @paddingHeight;
    }

    button {
    }

    &.enter-room {
      // bottom: 160px;
      left: 400px;
    } 

    &.create-room {
      // top: 160px;
      right: 400px;
    }
  }
}